*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    background-size: 600px 700px;
    background-repeat: repeat-x;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 50px;
}
.mainwrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-right: 20px;
}
.wrapper1{
    margin-top: 20px;
    margin-right: 10px;
    margin-left:10px;
    display: flex;
    flex-direction: row;
    flex: 2
}
.wrapper1 img{
    width: 100%; 
    height: auto;
}
.wrapper2{
    margin-top: -30px;
    margin-right: 10px;
    margin-left:10px;
    flex:1;
}
.box3{
    margin-top: 80px;
    margin-left: 10px;
}
.box3 p{
    font-size:35px;
    color: white;
    font-weight: bolder;
}
.box4{
    margin-top: 20px;
    margin-left: 10px;
}
.box4 p{
    font-size: 25px;
    color: white;
}
.box5{
    margin-top: 20px;
    margin-left: 10px;
}
.box5 p{
    background-color: white;
    border-radius:70px;
    height: 20px;
    color:blueviolet;
    width: 200px;
    text-align: center;
    padding: 20px;
}
.box5 a{
    text-decoration: none;
}
.socialmedia{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media screen and (max-width:600px){
    body{
        background-color: blueviolet;
    }
    .heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 10px;
        margin-left: 50px;
    }
    .mainwrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:50px;
        margin-right: 20px;
    }
    .wrapper1{
        margin-top: 20px;
        margin-right: 10px;
        margin-left:10px;
        display: flex;
        flex-direction: row;
        flex: 2
    }
    .wrapper1 img{
        width: 100%; 
        height: auto;
    }
    .wrapper2{
        margin-top: -30px;
        margin-right: 10px;
        margin-left:10px;
        flex:1;
    }
    .box3{
        margin-top: 80px;
        margin-left: 10px;
    }
    .box3 p{
        font-size:35px;
        color: white;
        font-weight: bolder;
    }
    .box4{
        margin-top: 20px;
        margin-left: 10px;
    }
    .box4 p{
        font-size: 25px;
        color: white;
    }
    .box5{
        margin-top: 20px;
        margin-left: 10px;
    }
    .box5 p{
        background-color: white;
        border-radius:70px;
        height: 20px;
        color:blueviolet;
        width: 200px;
        text-align: center;
        padding: 20px;
    }
    .box5 a{
        text-decoration: none;
    }
    .socialmedia{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
@media screen (min-width: 601px) and (max-width:1024px){
    body{
        background-color: blueviolet;
    }
    .heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin-top: 10px;
        margin-left: 20px;
    }
    .mainwrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left:20px;
        margin-right: 20px;
    }
    .wrapper1{
        margin-top: 20px;
        margin-right: 10px;
        margin-left:10px;
        display: flex;
        flex-direction: row;
        flex: 2
    }
    .wrapper1 img{
        width: 100%; 
        height: auto;
    }
    .wrapper2{
        margin-top: -30px;
        margin-right: 10px;
        margin-left:10px;
        flex:1;
    }
    .box3{
        margin-top: 80px;
        margin-left: 10px;
    }
    .box3 p{
        font-size:35px;
        color: white;
        font-weight: bolder;
    }
    .box4{
        margin-top: 20px;
        margin-left: 10px;
    }
    .box4 p{
        font-size: 25px;
        color: white;
    }
    .box5{
        margin-top: 20px;
        margin-left: 10px;
    }
    .box5 p{
        background-color: white;
        border-radius:70px;
        height: 20px;
        color:blueviolet;
        width: 200px;
        text-align: center;
        padding: 20px;
    }
    .box5 a{
        text-decoration: none;
    }
    .socialmedia{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
    

