*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    background-size: 600px 700px;
    background-repeat: repeat-x;
}
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-left: 50px;
}
.mainwrapper{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left:50px;
    margin-right: 50px;
    justify-content: center;
}
.wrapper1{
    margin-top: 20px;
    margin-right: 10px;
    margin-left:10px;
    display: flex;
    flex-direction: row;
}
.wrapper2{
    margin-left: 50px;
}
.box3{
    margin-top: 150px;
}
.box3 p{
    font-size:35px;
    color: whitesmoke;
    font-weight: bolder;
    padding-left: 20px;
    text-align: center;
}
.box4{
    margin-top: 20px;
}
.box4 p{
    font-size: 20px;
    color: whitesmoke;
    padding-left: 20px;
    line-height: 1.5;
    padding-right: 5px;
    text-align: center;
}
.box5{
    margin-left: 90px;
    margin-top: 20px;
}
.box5 p{
    background-color: antiquewhite;
    border-radius:70px;
    height: 20px;
    color:blueviolet;
    width: 200px;
    text-align: center;
    padding: 20px;
}
.box5 a{
    text-decoration: none;
}
.socialmedia{
    display: flex;
    flex-direction:row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    justify-content: flex-end;
}

@media screen and (max-width:600px){
    .heading{
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    } 
    .mainwrapper{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left:10px;
        margin-right: 10px;
        justify-content: center;
        background-color: brown;
    }
    .wrapper1{
        margin-top: 20px;
        margin-left:10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        background-color: yellowgreen;
    }
    .wrapper2{
        margin-left: 10px;
        justify-content: center;
    }
    .box3{
        margin-top: 80px;
        width:auto;
        background-color: aqua;
    }
    .box3 p{
        font-size:25px;
        color: whitesmoke;
        font-weight: bolder;
        padding-left: 10px;
        margin-left: 10px;
        line-height: 1.5;
        text-align: center;
    }
    .box4{
        margin-top: 20px;
        width:auto;
        border-color: yellowgreen;
    }
    .box4 p{
        font-size: 20px;
        color: whitesmoke;
        padding-left: 10px;
        line-height: 1.5;
        padding-right: 5px;
        text-align: center;
    }
    .box5{
        margin-left: 90px;
        margin-top: 20px;
        background-color: azure;
    }
    .box5 p{
        background-color: antiquewhite;
        border-radius:70px;
        height: 20px;
        color:blueviolet;
        width: 200px;
        text-align: center;
        padding: 20px;
    }
    .socialmedia{
        display: flex;
        flex-direction:row;
        justify-content: flex-end;
        margin-left: 100px;
        margin-top: 20px; 
    }
}
